In [1]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split
import re

In [2]:
#importing the dataset

df = pd.read_csv('HEART.csv')

In [3]:
df

     Age  RestingBP  Cholesterol  FastingBS  MaxHR  Oldpeak  HeartDisease
0     40        140          289          0    172      0.0             0
1     49        160          180          0    156      1.0             1
2     37        130          283          0     98      0.0             0
3     48        138          214          0    108      1.5             1
4     54        150          195          0    122      0.0             0
..   ...        ...          ...        ...    ...      ...           ...
913   45        110          264          0    132      1.2             1
914   68        144          193          1    141      3.4             1
915   57        130          131          0    115      1.2             1
916   57        130          236          0    174      0.0             1
917   38        138          175          0    173      0.0             0

[918 rows x 7 columns]

In [4]:
#finding out that, if there is any null value in the dataset
df.info()


#no need to clean the data, as there are no null values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Age           918 non-null    int64
 1   RestingBP     918 non-null    int64
 2   Cholesterol   918 non-null    int64
 3   FastingBS     918 non-null    int64
 4   MaxHR         918 non-null    int64
 5   Oldpeak       918 non-null    float64
 6   HeartDisease  918 non-null    int64
dtypes: float64(1), int64(6)
memory usage: 50.3 KB

In [5]:
#again checking for missing values
print(df.isnull().sum())

print('\nDATATYPES')
# Check data types of columns
print(df.dtypes)

Age             0
RestingBP       0
Cholesterol     0
FastingBS       0
MaxHR           0
Oldpeak         0
HeartDisease    0
dtype: int64

DATATYPES
Age               int64
RestingBP         int64
Cholesterol       int64
FastingBS         int64
MaxHR             int64
Oldpeak         float64
HeartDisease      int64
dtype: object

In [6]:
# Remove rows with missing values
data_cleaned = df.dropna()

In [12]:
# Impute missing values (replace with mean in this example)
imputer = SimpleImputer(strategy='mean')
data_imputed = pd.DataFrame(imputer.fit_transform(df), columns=df.columns)
data_imputed.head()

    Age  RestingBP  Cholesterol  FastingBS  MaxHR  Oldpeak  HeartDisease
0  40.0      140.0        289.0        0.0  172.0      0.0           0.0
1  49.0      160.0        180.0        0.0  156.0      1.0           1.0
2  37.0      130.0        283.0        0.0   98.0      0.0           0.0
3  48.0      138.0        214.0        0.0  108.0      1.5           1.0
4  54.0      150.0        195.0        0.0  122.0      0.0           0.0

In [13]:
# Standardize numerical features (mean=0, std=1)
scaler = StandardScaler()
data_scaled = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)
data_scaled.head()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
0,-1.433140,0.410909,0.825070,-0.551341,1.382928,-0.832432,-1.113115
1,-0.478484,1.491752,-0.171961,-0.551341,0.754157,0.105664,0.898380
2,-1.751359,-0.129513,0.770188,-0.551341,-1.525138,-0.832432,-1.113115
3,-0.584556,0.302825,0.139040,-0.551341,-1.132156,0.574711,0.898380
4,0.051881,0.951331,-0.034755,-0.551341,-0.581981,-0.832432,-1.113115

In [9]:
# Split the data into training and testing sets
X = df.drop('Age', axis=1)
y = df['Age']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [15]:
# Save the preprocessed data to a new CSV file
print(data_scaled.to_csv('processed_data.csv', index=False))

None